/*overall styles*/
html{
  font-size: 16px;
}

body{
  font-family: Helvetica;
}

.color1{
  color: #6b5b95;
  font-weight: bold;
}

.color2{
  color: #92b9bc;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  color: #6b5b95;
}

h2{
  font-size: 1.5rem;
  font-weight: bold;
  color: #6b5b95;
}

h3{
  font-size: 1.17rem;
  font-weight: bold;
}

section{
  padding-left: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media only screen and (max-width: 500px){
  section{
    padding: 0;
  }

  .mobile_no{
    display: none;
  }
}


/*columns*/

.left_column{
  width: 60%;
  padding-right: 24px;
}

.right_column{
  width: 40%;
}

@media only screen and (max-width: 500px){
  .right_column{
    width: 100%;
  }
}

.right_column img{
  width: 35%;
  height: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-left: 16px;
}

.right_column .details{
  width: 65%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right_column .details p{
  padding-top: 8px
}

/*header*/
header{
  height: 64px;
  padding: 0 24px;
  line-height: 64px;
  background-color: white;
}

header img{
  height: 32px;
  display: inline-block;
  vertical-align: middle;
}

nav{
  float: right;
}

nav a{
  padding-left: 16px;
  text-decoration: none;
  color: inherit;
}

.header_mobile{
  display: none;
}

@media only screen and (max-width: 500px){
  .desktop{
    display: none;
  }
  .header_mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/*banner*/
#banner{
  background-color: rgba(135,143,153,.5);
  display:flex;
}

@media only screen and (max-width: 500px){
  #banner{
    display: block;
  }
}

#banner img{
  margin-right: 24px;
  width: 60%;
}

@media only screen and (max-width: 500px){
  #banner img{
    margin-right: 0px;
    width: 100%;
  }
}



#banner h1{
  font-size: 4rem;
  line-height: 5rem;
}

#banner p{
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2.5rem;
  margin-top:  2.5rem;
  margin-bottom: 2.5rem;
}

#banner #button{
  background-color: #92b9bc;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  padding: 8px;
  text-align: center;
}

#banner_call_to_action{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}


/*info section*/
#info{
  background-color: white;
  display: flex;
}

#info #main_img{
  width: 100%;  /*column is 60%*/
}

.info{
  display:flex;
}

#info .left_column{
  border-right: 1px;
  border-style: solid;
  border-color: rgba(135,143,153,.3);
}

#info .left_column h1{
  padding-top: 32px;
  padding-bottom: 24px;
}

#info .left_column p{
  padding-bottom: 32px;
}

#info .left_column #cite{
  font-weight: bold;
}

#info .info{
  border-bottom: 1px;
  border-style: solid;
  border-color: rgba(135,143,153,.3);
}

#info .right_column a{
  text-decoration: none;
}

#sacks{
  background-color: rgba(135,143,153,.5);
}

/*courses section*/

.course_mobile{
  display: none;
}

#courses{
  background-color: rgba(135,143,153,.3);
  padding-left: 72px;
  padding-right: 72px;
}

#courses h1{
  text-align: center;
  margin-bottom: 32px;
}

#courses .row{
display: flex;
}

#row1{
  margin-bottom: 32px;
}

.subject{
  width: calc((100%-64px)/3);
  background-color: white;
  line-height: 1.5rem;
}

.subject.mid{
  margin-left: 32px;
  margin-right: 32px;
}

.subject img{
  max-width: 100%;
}

.subject h2, .subject p{
  padding-left: 16px;
}

.subject h2{
  padding-top: 16px;
}

.subject p{
  margin-top: 8px;
  margin-bottom: 8px;
}

.subject .descr{
  padding-bottom: 24px;
}

@media only screen and (max-width: 500px){
  #courses{
    background-color: white;
  }

  #courses .row{
    display: none;
  }

  .course_mobile{
    display: block;
  }
}




/*thesis section*/
#exhibit{
  background-color: white;
  line-height: 1.5rem;
}

#exhibit h1{
  margin-bottom: 32px;
  text-align: center;
}

#exhibit .wrapper{
  display: flex;
}

.thesis{
  display: flex;
}

video{
  width: 100%;
}

#exhibit h2{
  margin-top: 24px;
  margin-bottom: 8px;
}


#th1{
  background-color: rgba(135,143,153,.5);
}

@media only screen and (max-width: 500px){
  #exhibit .right_column, #exhibit h2, #exhibit p{
    display: none;
  }
}



/*footer*/
footer{
  padding: 16px 24px 0 16px;
  border-top: 1px;
  border-style: solid;
  border-color: rgba(135,143,153,.3);
  background-color: white;
}

footer .legal{
  float: right;
  padding-left: 16px;
}

@media only screen and (max-width: 500px){
  footer .legal{
    display: none;
  }
}
